.text {
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    border: 20px;
}

.img {
    padding: 15px;
    margin-right: auto;
    float: left;
    width: 50%;
    height: 620px;
}

.img2 {
    padding: 15px;
    margin-left: auto;
    float: right;
    width: 50%;
    height: 620px;
}
.text1 {
    display: block;
    clear: both;
    background-color: azure;
}

.text3 {
    display: block;
    clear: both;
    background-color:rgb(255, 2, 2);
    color: white;
    
}
.text1 {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    font-size: 43px;
    font-weight: bold;
    font-style: italic;
}
.text3 {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    font-size: 34px;
    font-weight: bold;
    font-style: italic;
}

footer {
    clear: both;
}